* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --myblack: #272a31;
  --myorange: #ec5242;
  --mygrey: #d3d3d3;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@font-face {
  font-family: Cocogoose;
  src: url('../fonts/Cocogoose.otf');
}

.show {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  color: var(--myblack);
  font-family: 'Lato', sans-serif;
}

#social-header,
nav {
  display: none;
}

header {
  padding: 4%;
}

header h2 {
  color: var(--myorange);
  font-weight: 300;
  font-size: 5vw;
  line-height: 9vw;
  margin-top: 20vw;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h1 {
  color: var(--myorange);
  font-family: 'Cocogoose', sans-serif;
  font-weight: normal;
  font-size: 8vw;
  line-height: 8vw;
}

header div {
  margin-top: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 1rem;
  background: #f8f8f8;
  border: 2px solid #fff;
}

header h3 {
  margin-top: 1rem;
  font-family: 'Cocogoose', sans-serif;
  font-weight: normal;
  font-size: 6vw;
  line-height: 7vw;
}

header h4 {
  font-size: 1rem;
  line-height: 2rem;
  padding-bottom: 5rem;
}

.program {
  width: 100%;
  color: var(--mygrey);
}

.program-cards {
  padding: 1rem;
}

.program .card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
}

.program .card img {
  width: 10%;
  display: block;
}

.program h2 {
  width: 20%;
  font-family: 'Lato', sans-serif;
  color: var(--mygrey);
  font-weight: bold;
}

.program p {
  width: 40%;
}

@media screen and (max-width: 768px) {
  .mobile-menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 27px;
    width: 27px;
    top: 20px;
    left: 20px;
    position: sticky;
    z-index: 5;
  }

  .mobile-menu-icon .bar {
    display: block;
    color: #535353;
    border-width: 3px;
    border-style: solid;
    border-radius: 15%;
  }

  nav {
    position: sticky;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    font-size: 2rem;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.9);
  }

  nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
  }

  nav .home {
    color: var(--myorange);
    border: 5px solid;
    border-color: var(--myorange);
    padding: 0.5rem;
  }

  header {
    margin-top: -30px;
    background: url('../images/mobile_intro_bg.png');
    background-size: cover;
  }

  .program {
    height: 605px;
    width: 100vw;
    background-image: url('../images/pattern_bg.png');
    background-repeat: repeat;
    background-color: #272a32;
  }
}
