* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --myblack: #272a31;
  --myorange: #ec5242;
  --mygrey: #d3d3d3;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

@font-face {
  font-family: Cocogoose;
  src: url('../fonts/Cocogoose.otf');
}

.show {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

body {
  color: var(--myblack);
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.social-header {
  position: static;
  top: 0;
  left: 0;
  width: 100vw;
  height: 35px;
  background: #3e3e3e;
}

.social-header ul {
  height: 100%;
  gap: 1rem;
  padding-right: 4rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  color: #fff;
}

nav {
  display: none;
}

nav img {
  width: 50%;
}

nav ul li a:hover {
  color: var(--myorange);
  border-bottom: 2px solid var(--myorange);
}

nav .logo {
  text-align: center;
}

header {
  padding: 4%;
}

header h2 {
  color: var(--myorange);
  font-weight: 300;
  font-size: 5vw;
  line-height: 9vw;
  margin-top: 20vw;
  font-family:
    'Lucida Sans',
    'Lucida Sans Regular',
    'Lucida Grande',
    'Lucida Sans Unicode',
    Geneva,
    Verdana,
    sans-serif;
}

header h1 {
  color: var(--myorange);
  font-family: 'Cocogoose', sans-serif;
  font-weight: normal;
  font-size: 8vw;
  line-height: 8vw;
}

header div {
  margin-top: 1.5rem;
  font-family: 'Lato', sans-serif;
  font-size: 0.8rem;
  line-height: 1.5rem;
  padding: 1rem;
  background: #f8f8f8;
  border: 2px solid #fff;
}

header h3 {
  margin-top: 1rem;
  font-family: 'Cocogoose', sans-serif;
  font-weight: normal;
  font-size: 6vw;
  line-height: 7vw;
}

header h4 {
  font-size: 1rem;
  line-height: 2rem;
  padding-bottom: 5rem;
}

/* Program section styles */

.program {
  color: var(--mygrey);
  width: 100vw;
  background-image: url('../images/pattern_bg.png');
  background-repeat: repeat;
  background-color: #272a32;
  background-size: 8%;
}

.program-cards {
  width: 100%;
  padding: 1rem 1rem 0 1rem;
}

.program h2 {
  padding-top: 2rem;
  font-weight: 400;
  text-align: center;
  font-size: 5vw;
}

.program hr {
  margin: 0 auto;
  margin-top: 0.8rem;
  width: 10%;
  border: 0.5px solid var(--myorange);
}

.program .card {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  padding: 0.6rem 1.1rem;
  background: rgba(255, 255, 255, 0.1);
}

.program .card img {
  width: 13%;
  display: block;
}

.program .card h3 {
  text-align: center;
  width: 40%;
  color: var(--myorange);
  font-size: 4vw;
  font-family: 'Lato', sans-serif;
  font-weight: bold;
}

.program .card p {
  width: 70%;
  font-size: 3.3vw;
  line-height: 5vw;
}

.program .btn-container {
  margin: 0 auto;
  padding: 2rem 3rem;
}

.program .join-conference-btn {
  padding: 1.5rem 2rem;
  font-family: inherit;
  font-size: 4vw;
  border: none;
  background-color: var(--myorange);
  color: var(--mygrey);
  width: 100%;
}

.program .join-conference-btn span {
  font-family: 'Cocogoose', sans-serif;
}

/* Speakers section styles */

.speakers {
  padding: 2.2rem 1rem;
  width: 100%;
  color: var(--myblack);
}

.speakers-cards {
  padding: 2rem 0;
  width: 100%;
}

.speakers h2 {
  font-weight: 400;
  text-align: center;
  font-size: 5vw;
}

.speakers hr {
  margin: 0 auto;
  margin-top: 0.8rem;
  width: 10%;
  border: 0.5px solid var(--myorange);
}

.speakers-cards .card .speaker-img {
  padding-right: 1.1rem;
  height: 181px;
  width: 181px;
  float: left;
}

.speakers-cards .card img {
  max-width: 100%;
}

.speakers-cards .card h3 {
  font-size: 1rem;
  font-weight: 900;
  line-height: 1rem;
}

.speakers-cards .card h4 {
  color: var(--myorange);
  padding-top: 0.5rem;
  font-size: 0.9rem;
  line-height: 1.2rem;
  font-style: italic;
  font-weight: 900;
}

.speakers-cards hr {
  border: 0.5px solid var(--mygrey);
  width: 20px;
  margin: 1rem 0;
}

.speakers-cards .card p {
  font-size: 0.8rem;
  line-height: 1.2rem;
  padding-left: 1rem;
}

.speakers-cards .featured-speakers {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding-bottom: 1rem;
}

.speakers-cards .important-speakers {
  padding: 1rem 0;
  display: none;
  flex-direction: column;
  gap: 1rem;
}

/* Organizers styles */

.organizers {
  padding: 2rem;
  background-color: #414245;
}

.organizers h2 {
  color: var(--mygrey);
  font-weight: 400;
  text-align: center;
  font-size: 5vw;
}

.organizers .organizers-hr {
  margin: 0 auto;
  margin-top: 0.8rem;
  width: 10%;
  border: 0.5px solid var(--myorange);
}

.organizers .organizers-wrapper {
  padding: 1rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  flex-wrap: wrap;
}

.organizers .organizers-wrapper img {
  display: block;
  height: 100px;
  width: auto;
  max-width: 100%;
  max-height: 100%;
  background: transparent;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
  padding: 4rem 1.5rem;
}

footer .copy {
  width: 50%;
  font-size: 0.9rem;
  line-height: 1.4rem;
}

footer .logo-img {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (max-width: 768px) {
  .social-header {
    display: none;
  }

  .mobile-menu-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 27px;
    width: 27px;
    top: 20px;
    left: 20px;
    position: sticky;
    z-index: 5;
  }

  .mobile-menu-icon .bar {
    display: block;
    color: #535353;
    border-width: 3px;
    border-style: solid;
    border-radius: 15%;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    font-size: 2rem;
    font-weight: 700;
    background: rgba(255, 255, 255, 0.9);
  }

  nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3vh;
  }

  nav .home {
    color: var(--myorange);
    border: 5px solid;
    border-color: var(--myorange);
    padding: 0.5rem;
  }

  header {
    margin-top: -30px;
    background: url('../images/mobile_intro_bg.png');
    background-size: cover;
  }

  .program .see-program {
    display: none;
  }

  .speakers .speakers-cards button {
    font-family: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.4rem;
    width: 100%;
    background-color: #fff;
    border: 1px solid var(--mygrey);
    padding: 0.6rem;
  }

  .speakers .speakers-cards button span {
    display: block;
    font-family: 'Cocogoose', sans-serif;
    font-weight: 900;
    color: var(--myorange);
  }

  footer .logo {
    width: 165px;
  }
}

/* Styling for about.html */

body.about {
  text-align: center;
}

/* Styling for header */

header.about {
  background: #f8f8f8;
}

header.about h2 {
  margin-top: 15vw;
  margin-bottom: 1rem;
}

header.about .about-text {
  background: #fff;
}

header.about .contact {
  margin: 0;
  border: none;
  line-height: 1.3rem;
}

header.about .email {
  font-weight: bold;
  text-decoration: underline;
}

/* About logo styles */

.about-logo {
  padding: 2rem 1.4rem;
}

.about-logo div {
  margin: 0 auto;
  width: 60vw;
}

.about-logo .the-logo {
  color: var(--myblack);
  font-weight: 400;
  text-align: center;
  font-size: 4vw;
}

.about-logo hr {
  margin: 0.8rem auto;
  width: 20px;
  border: 0.5px solid var(--myorange);
}

.about-logo .text {
  font-size: 3vw;
}

.about-logo .logo {
  margin-top: 1rem;
  padding: 1rem 3rem;
  border: 1px solid var(--mygrey);
}

.about-logo .logo img {
  max-width: 100%;
}

/* Planning styles */

hr.between-sections {
  border: 0.5px solid var(--mygrey);
}

.about-planning {
  padding: 2rem;
}

.about-planning div {
  width: 70vw;
  margin: 0 auto;
}

.about-planning .possible {
  font-size: 5vw;
  font-weight: 400;
}

.about-planning hr {
  margin: 0.8rem auto;
  width: 20px;
  border: 0.5px solid var(--myorange);
}

.about-planning .text {
  font-size: 3vw;
  line-height: 4vw;
}

.about-planning .videos-wrapper {
  width: 100%;
  padding: 1rem 0;
  margin: 0;
}

.about-planning .video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin-top: 1rem;
  height: 40vw;
  color: #fff;
}

.about-planning .video h2 {
  font-family: 'Cocogoose', sans-serif;
}

.about-planning .video p {
  padding: 1rem;
}

.about-planning .video.v1 {
  background:
    linear-gradient(
      0deg,
      rgba(236, 82, 66, 0.6),
      rgba(236, 82, 66, 0.6)
    ),
    url('../images/craft-1.jpeg') no-repeat top center;
  background-size: cover;
}

.about-planning .video.v2 {
  background:
    linear-gradient(
      0deg,
      rgba(236, 82, 66, 0.7),
      rgba(236, 82, 66, 0.7)
    ),
    url('../images/craft-2.jpeg') no-repeat top center;
  background-size: cover;
}

/* DESKTOP VERSION */

@media screen and (min-width: 769px) {
  body .menu-btn {
    display: none;
  }

  nav {
    padding: 0 6vw;
    display: block;
    position: absolute;
    top: 35px;
    left: 0;
    height: 80px;
    width: 100vw;
    font-size: 1rem;
    font-weight: normal;
    box-shadow: 0 3px 3px var(--mygrey);
    background: rgba(255, 255, 255, 0.8);
  }

  .social-header {
    display: block;
  }

  nav ul {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4vh;
  }

  nav ul li {
    order: 1;
  }

  nav .home {
    order: 2;
    color: var(--myorange);
    border: 5px solid;
    border-color: var(--myorange);
    padding: 0.5rem;
  }

  nav .about {
    order: 0;
  }

  nav .logo {
    padding-top: 0.5rem;
    order: -1;
    margin-right: auto;
  }

  /* Header styles */

  header {
    margin-top: 80px;
    padding: 5rem 6rem;
    background: url('../images/main-background.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  header h2 {
    color: var(--myorange);
    font-weight: 300;
    font-size: 3vw;
    line-height: 5vw;
    margin: 0;
    font-family:
      'Lucida Sans',
      'Lucida Sans Regular',
      'Lucida Grande',
      'Lucida Sans Unicode',
      Geneva,
      Verdana,
      sans-serif;
  }

  header h1 {
    color: var(--myorange);
    font-family: 'Cocogoose', sans-serif;
    font-weight: normal;
    font-size: 5vw;
    line-height: 5vw;
  }

  header div {
    width: 50vw;
    margin-top: 1.5rem;
    font-family: 'Lato', sans-serif;
    font-size: 0.8rem;
    line-height: 1.5rem;
    padding: 1rem;
    background: #f8f8f8;
    border: 2px solid #fff;
  }

  header h3 {
    margin-top: 1rem;
    font-family: 'Cocogoose', sans-serif;
    font-weight: normal;
    font-size: 3vw;
    line-height: 4vw;
  }

  header h4 {
    font-size: 1rem;
    line-height: 2rem;
    padding-bottom: 0;
  }

  /* Program styles */

  .program-cards {
    width: 100%;
    display: flex;
    gap: 0.5rem;
    padding: 1rem 2rem 0 2rem;
  }

  .program h2 {
    padding-top: 2rem;
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
  }

  .program hr {
    margin: 0 auto;
    margin-top: 0.8rem;
    width: 30px;
    border: 0.5px solid var(--myorange);
  }

  .program .card {
    margin-top: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1.5rem 1.1rem;
    background: rgba(255, 255, 255, 0.1);
  }

  .program .card img {
    width: 50px;
    display: block;
  }

  .program .card h3 {
    width: 100%;
    text-align: center;
    color: var(--myorange);
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }

  .program .card p {
    text-align: center;
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .program .btn-container {
    display: none;
  }

  .program .see-program {
    display: block;
    text-decoration: underline;
    text-align: center;
    word-spacing: 0.2rem;
    font-size: 0.8rem;
    padding: 3rem 0;
  }

  /* Speakers styles */

  .speakers {
    padding: 1rem 8rem;
  }

  .speakers-cards {
    width: 100%;
  }

  .speakers-cards .featured-speakers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .speakers-cards .important-speakers {
    display: grid !important;

    /* use of !important in order to override javascript style */
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
  }

  .speakers h2 {
    padding-top: 2rem;
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
  }

  .speakers hr {
    margin: 0 auto;
    margin-top: 0.8rem;
    width: 30px;
    border: 0.5px solid var(--myorange);
  }

  .speakers-cards .card {
    padding: 2rem 0;
  }

  .speakers-cards #more {
    display: none;
  }

  .speakers-cards .card hr {
    margin: 0.4rem 0;
  }

  /* Organizers styles */

  .organizers {
    padding: 2rem;
    background-color: #414245;
  }

  .organizers h2 {
    color: var(--mygrey);
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
  }

  .organizers .organizers-hr {
    margin: 0.8rem auto;
    width: 30px;
    border: 0.5px solid var(--myorange);
  }

  .organizers .organizers-wrapper {
    padding: 1rem;
    display: flex;
    gap: 1rem;
    justify-content: center;
    flex-wrap: wrap;
  }

  /* Footer styles */

  footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3rem 10vw;
  }

  footer .copy {
    width: 50%;
    font-size: 0.9rem;
    line-height: 1.4rem;
  }

  footer .logo-img {
    width: 50%;
    max-width: 100%;
    max-height: 100%;
  }

  /* ABOUT PAGE STYLES */

  /* About header styles */

  header.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #f8f8f8;
  }

  header.about h2 {
    display: none;
  }

  header.about h1 {
    font-size: 2rem;
    line-height: 2rem;
    width: 50vw;
  }

  header.about .about-text {
    background: #fff;
    border: 0.5px solid var(--mygrey);
    width: 80vw;
  }

  /* About logo styles */

  .about-logo {
    padding: 2rem 1.4rem;
  }

  .about-logo div {
    margin: 0 auto;
    width: 40vw;
  }

  .about-logo .the-logo {
    color: var(--myblack);
    font-weight: 400;
    text-align: center;
    font-size: 1.2rem;
  }

  .about-logo .logo-hr {
    margin: 0.8rem auto;
    width: 30px;
    border: 0.5px solid var(--myorange);
  }

  .about-logo .text {
    font-size: 0.8rem;
  }

  .about-logo .logo {
    margin-top: 1rem;
    padding: 1rem 3rem;
    border: 1px solid var(--mygrey);
  }

  .about-logo .logo img {
    width: 50%;
    max-width: 100%;
  }

  /* About planning styles */

  /* Planning styles */

  hr.between-sections {
    border: 0.5px solid var(--mygrey);
  }

  .about-planning {
    padding: 2rem;
  }

  .about-planning div {
    width: 70vw;
    margin: 0 auto;
  }

  .about-planning .possible {
    font-size: 1.2rem;
    font-weight: 400;
  }

  .about-planning .planning-hr {
    margin: 0.8rem auto;
    width: 30px;
    border: 0.5px solid var(--myorange);
  }

  .about-planning .text {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .about-planning .videos-wrapper {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
    padding: 1rem 0;
    margin: 0;
  }

  .about-planning .video {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    margin-top: 1rem;
    height: 250px;
    color: #fff;
  }
}

.menu-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 35px;
  width: 35px;
  top: 20px;
  left: 20px;
  position: sticky;
  z-index: 5;
  transition: all 0.5s ease-in-out;
}

.burger {
  width: 35px;
  height: 5px;
  position: absolute;
  background: var(--myblack);
  border-radius: 3px;
  transition: all 0.5s ease-in-out;
}

.burger::before,
.burger::after {
  content: '';
  position: absolute;
  width: 35px;
  height: 5px;
  left: 0;
  border-radius: 3px;
  background: var(--myblack);
  transition: all 0.5s ease-in-out;
}

.burger::before {
  transform: translateY(-10px);
}

.burger::after {
  transform: translateY(10px);
}

/* Menu button animation */
.menu-btn.open .burger {
  transform: translateX(-35px);
  background: transparent;
}

.menu-btn.open .burger::before {
  transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .burger::after {
  transform: rotate(-45deg) translate(35px, 35px);
}
